/* TYPOGRAPHY */

.landing-tagline {
  text-align: center;
  font-style: italic;
  font-size: 3rem;
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  margin: 1em 0;
}

/* BUTTONS */

.button-primary {
  background: var(--purple);
  color: var(--white);
  font-weight: 700;
  letter-spacing: 0.04em;
  margin: 0;
  font-size: 2rem;
}

/* LAYOUT */

.page-container {
  margin: 0;
  height: 100%;
}

.landing-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3em;
}
/* MEDIA QUERIES */
