/* TYPOGRAPHY */

/* BUTTONS */

/* FORM */

/* LAYOUT */

.all-links {
  height: 23rem;
  overflow: auto;
  width: 50%;
  padding-right: 0.5em;
  margin: 0.5em auto;
  max-width: 600px;
  min-width: 350px;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 5px;
}

/* MEDIA QUERIES */
