/* TYPOGRAPHY */

/* BUTTONS */

/* FORM */

/* LAYOUT */

.all-links {
  height: 23rem;
  overflow: auto;
  width: 38rem;
  padding: 0;
  margin: 0.5em auto;
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--purple);
  border-radius: 5px;
}

/* MEDIA QUERIES */
