/* TYPOGRAPHY */

.signature {
  text-align: center;
  margin: 0.5em auto;
  font-size: 0.75rem;
  text-decoration: none;
  color: var(--black);
  width: 150px;
}

.signature:hover {
  text-decoration: underline;
}

/* BUTTONS */

/* LAYOUT */

/* MEDIA QUERIES */
