/* TYPOGRAPHY */

.no-links {
  font-size: 1.5rem;
}

.short-link {
  font-size: 1.5rem;
}

.short-link:hover {
  text-decoration: underline;
}

.long-link {
  font-size: 1rem;
}

/* BUTTONS */

/* FORM */

/* LAYOUT */

.link-div {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  display: flex;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.4em 1em;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.link-div:last-child {
  margin-bottom: 0;
}

.links {
  flex-grow: 1;
  text-align: center;
}

.link-info {
  font-size: 0.7rem;
  align-self: flex-end;
}

.delete-icon {
  margin-right: 2rem;
  cursor: pointer;
}
/* MEDIA QUERIES */

@media (max-width: 900px) {
  .short-link {
    font-size: 1.1rem;
  }

  .long-link {
    font-size: 0.85rem;
  }
}

@media (max-width: 700px) {
  .short-link {
    font-size: 1rem;
  }

  .long-link {
    font-size: 0.75rem;
  }
}
