/* TYPOGRAPHY */
.error-message {
  color: var(--purple);
}

.cta-link {
  text-align: center;
  width: 120px;
  margin: 0 auto;
  cursor: pointer;
}

.cta-link:hover {
  text-decoration: underline;
}

/* BUTTONS */

.button-auth {
  width: 100%;
  color: white;
  background-color: var(--purple);
}

/* FORMS */

.auth-form {
  width: 500px;
  margin: 2em auto;
}

.username-auth-input {
  width: 100%;
  margin-bottom: 1em;
}

/* LAYOUT */

.auth-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

/* MEDIA QUERIES */
