/* TYPOGRAPHY */

/* BUTTONS */

.button-45 {
  width: 45%;
}

/* LAYOUT */
.account-page {
  text-align: center;
}

.account-subcomponent {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.edit-icons-div {
  width: 27.5%;
  text-align: right;
}

.submit-icon {
  width: 27.5%;
  text-align: left;
}

.inside-box {
  display: flex;
  outline: none;
  justify-content: space-between;
  background: var(--white);
  width: 45%;

  padding: 1em 1.2em;
  font-size: 1.2rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  align-items: center;
}

.account-subcomponent-icon {
  margin: 0 0.75em;
  cursor: pointer;
}

.account-value {
  flex-grow: 1;
  text-align: end;
}

.account-subcomponent-child-input {
  flex-grow: 1;
  text-align: end;
  border: none;
  font-size: 1.2rem;
  outline: none;
  margin-left: 1em;
}

.account-details {
  margin: 2em;
}

.account-body {
  margin-bottom: 2em;
}

/* MEDIA QUERIES */
