/* TYPOGRAPHY */

/* BUTTONS */

.button-logout {
  width: calc(100% - 4rem);
}

/* LAYOUT */
.account-page {
  text-align: center;
}

.account-body {
  margin: 0 auto;
  margin-bottom: 2em;
  width: 50%;
  min-width: 360px;
  max-width: 600px;
}

.account-subcomponent {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
}

.account-subcomponent:first-child {
  margin-top: 1em;
}

.edit-icons-div {
  width: 2rem;
  flex-grow: 0;
  margin-right: 0.5em;
  text-align: right;
}

.submit-icon {
  width: 2rem;
  text-align: left;
  margin-left: 0.5em;
  flex-grow: 0;
}

.inside-box {
  display: flex;
  outline: none;
  justify-content: space-between;
  background: var(--white);

  padding: 1em 1.2em;
  font-size: 1.1rem;
  border: 1px solid var(--gray);
  border-radius: 5px;
  align-items: center;
  flex-grow: 1;
}

.account-subcomponent-icon {
  cursor: pointer;
}

.account-value {
  flex-grow: 1;
  text-align: end;
}

.account-subcomponent-child-input {
  flex-grow: 1;
  text-align: end;
  border: none;
  font-size: 1.1rem;
  outline: none;
  /* min-width: 50px; */
  margin-left: 1em;
}

.account-details {
  margin: 2em;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
  .account-label,
  .account-value {
    font-size: 1rem;
  }
}
