/* TYPOGRAPHY */

/* BUTTONS */

/* FORM */

/* LAYOUT */

.link-div {
  background: var(--white);
  border: 1px solid var(--gray);
  border-radius: 5px;
  outline: none;
  display: flex;
  width: 35rem;
  margin: 0 auto;
  margin-bottom: 1em;
  padding: 0.4em 1em;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
}

.link-div:last-child {
  margin-bottom: 0;
}

.links {
  flex-grow: 1;
  text-align: center;
}

.short-link {
  font-size: 1.5rem;
}

.short-link:hover {
  text-decoration: underline;
}

.link-info {
  font-size: 0.75rem;
  align-self: flex-end;
}

.delete-icon {
  margin-right: 2rem;
}
/* MEDIA QUERIES */
