/* TYPOGRAPHY */
.https {
  font-size: 1.2rem;
}

/* BUTTONS */

/* FORM */

.links-page {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.shorten-link-form {
  min-width: 350px;
  max-width: 600px;
  width: 60%;
  margin: 0 auto;
  margin-bottom: 1em;
  display: flex;
}

.shorten-link-input-div {
  flex-grow: 1;

  background: white;
  display: flex;
  flex-shrink: 2;
}

.shorten-link-input {
  border: none;
  outline: none;
  font-size: 1.2rem;
  flex-grow: 1;
  padding: 0 0.5em;
  min-width: 150px;
}

.shorten-link-button {
  color: var(--white);
  background: var(--purple);
  flex-shrink: 0;
  flex-grow: 0;
  margin-left: 0.5em;
  font-size: 1.2rem;
  outline: none;
  cursor: pointer;
  padding: 0.9em 1.2em;
  border-radius: 5px;
  border: 0em;
}

/* LAYOUT */

.no-links-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

/* MEDIA QUERIES */

@media (max-width: 700px) {
  .https {
    font-size: 0.8rem;
  }

  .shorten-link-input {
    font-size: 0.8rem;
  }

  .shorten-link-button {
    font-size: 0.8rem;
  }
}
